*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: white;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}
.hero{
    width: 100%;
    padding: 4% 4%;
}
.h-top, .h-bottom{
    font-size: 8vw;
    font-weight: 200;
}
.h-top{
    text-align: left;
}
.h-bottom{
    text-align: right;
}
.intro-div{
    width: 100%;
    padding: 2% 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}
.d1 p{
    font-weight: 400;
    color: #64CCC5;
    font-size: 2vw;
}
.d2 h2{
    font-weight: bolder;
    font-size: 5vw;
}
.d3-summary{
    display: flex;
    flex-direction: column;
}
.line2{
    font-size: 1.8vw;
    font-weight: 300;
}
.line1,.line3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8vw;
    font-weight: 300;
}
.d4-skillset{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.d4-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8vw;
    font-weight: 300;
}
.d4-text span{
    font-size: 12px;
    color: #64CCC5;
}
.d4-skills{
    display: flex;
    flex-direction: row;
    color: #64CCC5;
    gap: 20px;
    margin-top: 15px;
}
.d41 , .d42 , .d43 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 26px;
}
.d41 p, .d42 p, .d43 p{
    font-size: 18px;
    color: #64CCC5;
    font-weight: 300;
}
a{
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}
a:hover{
    color: #4FBDBA;
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2% 20%;
    margin-top: 50px;
}
.top-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-heading span{
    color: #64CCC5;
    font-size: 10px;
}
.top-heading p{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.uidesign{
    display: flex;
    flex-direction: column;
    padding: 2% 20%;
    margin-top: 50px;
    gap: 30px;
}
.ui-grid-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
}
.ui-card-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.workexp{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2% 20%;
    margin-top: 50px;
    width: 100%;
    height: max-content;
}
.exp-card-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.exp-card{
    width: 100%;
    padding: 15px;
    border: 1px solid #001C30;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s;
}
.exp-card p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
}
.exp-card:hover{
    border-color: #4FBDBA;
}
.exp-card a{
    text-align: right;
    font-size: 12px;
}
.exp-card a:hover, .exp-card a i:hover{
    color: #4FBDBA;
}
.footer{
    padding: 20px 0;
}
.footer p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.project-card-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.proj-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid #0d5080;
    padding: 10px 5px;
    border-radius: 8px;
}
.proj-text {
    font-size: 18px;
}
.live-links{
    display: flex;
    gap: 20px;
}
.live-links a i{
    font-size: 18px;
}

@media screen and (max-width:400px) {
    .h-top, .h-bottom{
        font-size: 8vw;
        font-weight: 300;
    }
    .intro-div{
        padding: 2% 10% ;
    }
    .d1 p{
        font-size: 3vw;
    }
    .d2 h2{
        font-size: 7vw;
    }
    .line1, .line2, .line3{
        font-size: 2.5vw;
    }
    .d4-text{
        font-size: 2.8vw;
    }
    .d4-text span{
        font-size: 8px;
    }
    .d41 p, .d42 p, .d43 p{
        font-size: 10px;
    }
    .d41 , .d42 , .d43 {
        margin-left: 15px;
    }
    .projects{
        padding: 2% 10%;
    }
    .uidesign{
        padding: 2% 10%;
    }
    .top-heading p{
        font-size: 15px;
    }
    .workexp{
        padding: 2% 10%;
    }
    .exp-card h4{
        font-size: 13px;
    }
    .exp-card p{
        font-size: 10px;
    }
    .footer p{
        font-size: 12px;
        font-weight: 400;
        color: white;
    }
    .proj-text {
        font-size: 12px;
    }
    .live-links a i{
        font-size: 15px;
    }
    .ui-grid-wrapper{
        grid-template-columns: auto;
    }
    .ui-card-item img{
        border-radius: 4px;
    }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #176B87;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4FBDBA;
}
